.error {
  visibility: hidden;
  background-color: red;
  border: 1px solid rgba(250, 72, 72,0.9);
  border-radius: 5px;
  background-color: rgba(250, 72, 72,0.5);
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

#errorContainer {
  visibility: hidden;
}

.registerError {
  background-color: red;
  border: 1px solid rgba(250, 72, 72,0.9);
  border-radius: 5px;
  background-color: rgba(250, 72, 72,0.5);
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

#errorContainer {
  display: center;
}

#playlistPage {
  color: white !important;
}

#orderBtn {

}

.error span {
  color: rgb(36, 36, 36);
  padding-left: 1vh;

}

.registerError span {
  padding-left: 2vh;
  padding-right: 2vh;
  color: rgb(36, 36, 36);

}

#adminPage input {
  background-color: white !important;
}

#adminPage label {
  color: rgba(255, 255, 255, 0.9);
}
select {
  background-color: white !important;
}

table {
  width: 180vh !important;
  margin-left: 10vh;

}

th {
  color: white !important;
  background-color: black;
}

td {
  color: black !important;
  background-color: white;
}


html {
  width:100%;
  height: 150vh;
}

.goldenBody {
  background: url("../img/whiteGoldMarble.jpg");
}

.whiteBody {
  background: white;
}

body {
  background-repeat: no-repeat;
  background-size: 1920px 3000px;
  background-position: cover;
}

footer {
background-color: rgb(239, 239, 239);
position: absolute;
width: 100%;
bottom: 0;
}


#logo {
  height: 50px !important;
  width: 78px !important;
}

#navbarNavDropdown {
  position: relative;
  top: 1vh;
  font-size: 2.3vh;
}

#navbarNavDropdown li {
  padding-left: 2vh;
  padding-right: 2vh;
}

#config {

}

#textCart {
  position: relative;
  top: 10vh;
  color: black;
}

#emptyCart {
  position: relative;
  top: 10vh;
  color: black;
}

#shoppingCartView {
  position: relative;
  top: 10vh;
}

#cartLi a {
  position: relative;
  bottom: 0.8vh;
}


  #dropChat {
  margin-left: 139vh;
  width: 50vh;
  height: 50vh;
  padding: 0 0 !important;
}

#dropChat li {
  position: relative;
  padding: 0 0;
}

#dropChat .panel-footer {
  position: fixed;
  top: 52vh;
}

#dropChatAdmin {
  width: 50vh;
  height: 35vh;
  padding: 0 0 !important;
}


#usersTable th {
  color: black !important;
  background-color: white !important;
}

#dropChat .panel-body{
}

.messagesContainer {
  position: absolute;
  height: 37vh;
  width: 50vh;
  overflow: scroll;
}

#messagesTitle{
  padding-left: 1vh;
  background-color: #d9d9d9;
  border-bottom: 1px solid #c8ab4d;
}

.chatTextContainer {
  position: relative;
  left: 1.4vh;
  width: 50vh;
  height: 7.7vh;
  border: 0.1vh solid grey;
  border-radius: 1vh;
}

.chatTextContainerAdmin {
  position: relative;
  left: 0vh;
  width: 48vh;
  height: 6.7vh;
  border: 0.1vh solid grey;
  border-radius: 1vh;
}

#dropChat textarea {
  position: relative;
  height: 7.7vh;
  width: 40vh;
}

#btnChat {
  position: relative;
  left: 40vh;
  bottom: 7.7vh;
  width: 10vh;
  height: 7.7vh;
  font-size: 2vh;
}


#btnChatAdmin {
  position: relative;
  left: 40vh;
  bottom: 6.7vh;
  width: 9vh;
  height: 6.7vh;
  font-size: 2vh;
}

#adminTableContainer {
  background-color: white;
  width: 30%;
  border: 0.3vh solid grey;
  border-radius: 1vh;
  padding: 1vh 1vh;
}

#usersAdminTable {
  width: 30% !important;
  color: black !important;
  background-color: white !important;
}

#adminChatModal{
  visibility: hidden;
  position: relative;
  bottom: 62vh;
  left: 70vh;
  width: 50vh;
}


#messageBody {
  display: block;
  float: left;
  border-radius: 5vh;
  background-color: #c2f6ff;
  max-width: 70%;
}


#messageBodyRight {
  background-color: #dbdbdb;
  display: block;
  float: right;
  border-radius: 5vh;
  max-width: 70%;
}

#messageBodyRight span {
  position: relative;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  padding-right: 2vh;
  padding-left: 2vh;
  display: block;
  word-wrap: break-word;
}

#messageBody span {
  position: relative;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  padding-right: 2vh;
  padding-left: 2vh;
  display: block;
  word-wrap: break-word;
}

#msgBox {
  margin: 0 0 !important;
  padding: 0 0!important;
}

#messageLi a {
  position: relative;
  bottom: 0.8vh;
}

.fa-shopping-cart {
  position: relative;
  top: 1.3vh;
  margin-right: 1.5vh;
}

.fa-shopping-cart p {
  position: relative;
  bottom: 0.7vh;
  left: 1.2vh;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  width: 2vh;
  height: 2vh;
  color: white;
  text-align: center;
  border-radius: 5vh;
  background: red;
}

.fa-comment {
  position: relative;
  top: 1.3vh;
  margin-right: 0.7vh;
}

.fa-comment p {
  position: relative;
  bottom: 0.7vh;
  left: 1.2vh;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  width: 2vh;
  height: 2vh;
  color: white;
  text-align: center;
  border-radius: 5vh;
  background: red;
}

.fa-user-circle-o {
  margin-right: 0.7vh;
}
/*Chrome*/

input[type='range'] {

      width: 80px;
      -webkit-appearance: none;
      background-color: #e3e3e3;
      outline: none;
      border-radius: 5vh;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 5px;
      -webkit-appearance: none;
      color: #e3e3e3;
      border-radius: 5vh;
      margin-top: -1px;
      outline: none;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 20px;
      -webkit-appearance: none;
      height: 20px;
      cursor: pointer;
      background: #434343;
      border: 20px;
      border-radius: 5vh;
      margin-top: -8px;
      outline: none;
    }



#configMenu {
  display: none;
}

#loginIndex {
  padding-left: 165vh;
}

#signupIndex {

}

.servicesContainer {
  position: relative;
  top: 14.5vh;
  left: 36vh;
  width: 42.7%;
}

#servicesMenu {
  position: relative;
  left: 5vh;
}

  #servicesMenu li {
  list-style-type: none;
  font-size: 3vh;
}


#servicesMenu a {
  font-style: italic;
  color: rgba(161, 161, 161, 1);
}

#formCustom {
  position: relative;
  left: 45vh;
  top: 15vh;
}

#customTextArea {
  width: 40%;
  height: 30vh;
}

#customTextArea::-webkit-input-placeholder {
  opacity: 0.5;
}

.beatDescription {
  position: relative;
  padding: 2vh 2vh;
  border: 0.1vh solid #bab39e;
  color: rgba(92, 92, 92, 1);
  background: rgba(242, 242, 242, 1);
  border-radius: 1vh;
  font-size: 2vh;
  top: 15vh;
  left: 45vh;
  width: 40%;
}

.aBorders {
  border: 1px solid red;
  padding: 2vh;
}

.serviceBackgroundBuy {
  display: block;
  border: 0.1vh solid rgba(180, 180, 180, 1);
  cursor: pointer;
  padding: 2vh;
  background-color: rgba(237, 240, 242, 0.9);
}

.serviceBackgroundMix {
  border: 0.1vh solid rgba(180, 180, 180, 1);
  cursor: pointer;
  padding: 2vh;
  background-color: rgba(237, 240, 242, 0.9);
}

.serviceBackgroundCustom {
  border: 0.1vh solid rgba(180, 180, 180, 1);
  cursor: pointer;
  padding: 2vh;
  background-color: rgba(237, 240, 242, 0.9);
}

.serviceBackgroundBuy:hover {
  background-color: rgba(237, 240, 242, 0.7);
}

  .letterBackground {
  background: -webkit-linear-gradient(#bab39e, #c2981f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  width: 10%;
  border-bottom: 0.3vh solid grey;
}

#playListRow {
  margin-top: -30vh;
  margin-left: 30vh;
  height: 150vh;
  padding: 0vh 0vh  !important;
  background-color: rgba(15, 15, 15, 0);
  padding-bottom: 1vh !important;
}

#playListSongs {
  padding-top: 1vh;
  padding-left: 2vh;
  padding-bottom: 1vh;
  width: 150vh;
  background-color: rgba(15, 15, 15, 0.8);

}

#songPrice {
  position: relative;
  left: 4vh;
  bottom: 1.5vh;
  width: 10vh;
  border-bottom: 1px solid grey;
}

#songPrice h3 {
  position: relative;
  left: 1vh;
}

.price {
  position: relative;
  left: 2.5vh;
}

#purchaseSong {
  position: relative;
  left: 125.5vh;
  bottom: 95.8vh;
  border-left: 1px solid grey;
  padding-top: 2vh;
  background-color: rgba(15, 15, 15, 0.8);
  width: 19.6vh;
  border-bottom: 1px solid grey;
  height: 10.63vh;
}

#purchaseSong img {
  cursor: pointer;
}

#buyItem{
  position: relative;
  border-radius: 2vh;
  bottom: 0.4vh;
  left: 4vh;
}

#downloadItem {
  position: relative;
  left: 7vh;
  bottom: 0.4vh;
}

.fadeBuy {
  opacity: 0.5;
  cursor: auto !important;
}

.fadeDownload {
  opacity: 0.5;
  cursor: auto !important;
}

.showBuy {
  position: absolute;
  transform: scale(1);
  transition: transform .5s;
}

.showDownload {
  position: absolute;
  transform: scale(1);
  transition: transform .5s;
}

.showBuy:hover {
  transform: scale(1.2);
}

.showDownload:hover {
  transform: scale(1.2);
}

.songInfo {
  width: 20vh;
}

.songInfo h4 {
  font-size: 2vh;
  color: white;
}


.stitle {
  padding-left: 2vh;
  width: 25vh;
}

.sgenre {
  padding-left: 11.5vh;
}

#genreOrder {
  padding-left: 11vh;
}

.sdate {
  padding-left: 11.5vh;
  width: 30vh;
}

#dateOrder {
  padding-left: 11vh;
}

.slength {
  padding-left: 2vh;
}
#lengthOrder {
  padding-left: 12vh;
  width: 25vh;
}

#bpmOrder {
  padding-left: 10vh;
}

.sbpm {
  padding-left: 3.5vh;
}

#keyOrder {
  padding-left: 10vh;
  width: 23vh;
}

#priceOrder {
  position: relative;
  left: 7vh;
}

.skey {
  padding-left: 4vh;
}

.imgMin {
  border: 10px;
  border-color: red;
}

.searchBox {
  width: 145.2vh;
  height: 30vh;
  padding-left: 20vh;
  background-color: rgba(15, 15, 15, 0.8);
}

.currentImg {
  position: relative;
  width: 30vh;
  height: 30vh;
  left: 0vh;
}

.tab-arrow:hover {
  cursor: pointer;
}


.orderItems {
  width: 145.2vh;
  padding-left: 0vh;

}

#orderList {
  padding-left: 10.8vh;
  background-color: rgba(15, 15, 15, 0.9);
  width: 160vh;
}

#btnCheckout {
  position: relative;
  border-radius: 1vh;
  border: 0.1vh solid #c8ab4d;
  color: black;
  background-color: rgba(
  220, 220, 220, 1);
  left: 178vh;
  top: 10vh;
}

#btnCheckout:hover {
  background-color: rgba(161, 161, 161, 1);
  border-color: white;
  color: rgba(
240, 240, 240);
}

.containerMain {

  margin-top: 15vh;
  margin-left: 15vh;
  width: 70%;
}

.imgContainer {
  width: 137vh;
  cursor: pointer;
  padding-bottom: 2vh;
}

.imgContainer:hover {
  opacity: 0.7;
}



.faded :not(img) {
    opacity: 0.8;
}

.opaque {
    opacity: 1;
}

.player {
  background: radial-gradient( #e8e8e8, #8c8c8c);
  position: fixed;
  right: 0%;
  bottom: 0%;
  border-radius: 30vh;
  width: 202vh;
  height: 15vh;
}

.pLeft {
  position: relative;
  top: -19vh;
  left: 15vh;
}

.pRight {
  position: relative;
  right: 2vh;
  top: -4vh;
}

.pLeft img {
  position: relative;
  right: 10vh;
  top: 9vh;
}

.pMiddle {
  position: relative;
  top: -29vh;
}

.songDuration {
  position: relative;
  top: -28vh;
}

#minDuration {
  position: relative;
  top: -2.5vh;
  right: 5vh;
  width: 3vh;
}

#maxDuration {
  position: relative;
  top: -5.8vh;
  left: 101vh;
}


#duration_slider{
  width: 100vh;
}

.pMiddle button {
  background-color: #e1e1e1;
  width: 8vh;
  height: 8vh;
  border: 1px solid #c8ab4d;
  border-radius: 10vh;
  outline: none;
}

.pMiddle button:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}


.fa-play {
color: black;
}

.pMiddle button:hover>.fa-play {
  color: black;
}

.pMiddle button:hover>.fa-step-forward {
  color: black;
}

.pMiddle button:hover>.fa-step-backward {
  color: black;
}

.fa-pause {
  color: #838383;
}

.pMiddle button:hover>.fa-pause {
  color: black;
}

.fa-step-backward {
color: #838383;
}

.fa-step-forward {
color: #838383;
}

#play {
  margin-left: 3vh;
  margin-right: 3vh;
}

#crudmodal {
  color: grey !important;
}

#crudmodal label {
  color: grey !important;
}

#crudmodal #submit {
  color: grey !important;
}

#volume_icon {
  position: relative;
  top: 0.3vh;
}

#orderSummaryContainer {
  border: 0.3vh solid #c8ab4d;
  border-radius: 0.5vh;
  padding: 2vh 2vh;
}

#orderSummaryContainer button {
  background-color: blue;
  color: white;
  padding: 0.5vh 0.5vh;
  text-align: center;
  font-size: 3vh;
  border-radius: 3vh;
}

#paymentPage {
  margin-top: 30vh;
}

.floatRight{
  float: right;
}

#pageSuccess {
  position: relative;
  top: 10vh;
}

#successContainer {

  color: black;
  margin-top: 10vh;
  border: 0.1vh solid grey;
  width: 50%;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
}

#headerSuccess {
  padding: 2vh 22.9vh;
  border: 0.2vh solid #c8ab4d;
  border-radius: 1vh;
  background: radial-gradient(#f0f0f0, #cccccc);

}

#listSuccess {
  margin-top: 5vh;
  margin-bottom: 5vh
}

#successBox {
  padding: 5vh 0vh;
  width: 90vh;
  border-top: 0.1vh solid black;
  border-bottom: 0.1vh solid black;
}

#successBox h2 {
  margin-top: 1vh;
}

#successBox button{
  padding-top: 0.3vh;
  margin-top: 1vh;
  border-radius: 0.5vh;
  width: 15vh;
  background: -webkit-linear-gradient(#56585c, #001029);
  opacity: 1;
  height: 4vh;
  color: white;
  font-size: 2vh;
  font-family: 'Source Sans Pro', sans-serif;
}

#successBox button:hover{
  outline: none;
  cursor: pointer;
  opacity: 0.95;
  border: 0.3vh solid #00349c;
  box-shadow: 0 0 0.5vh #00349c;
}

/*Laptop screens*/
@media only screen
and (min-width: 1030px)
and (max-width: 1366px)  {

  #logoPlayer {
    margin-top: 0vh;
    margin-bottom: 0vh;
  }

  .songDuration {
    position: relative;
    top: -29.5vh;
  }

  #loginIndex {
    padding-left: 145vh;
  }

  .player {
    width: 194vh;
  }

  #purchaseSong {
    bottom: 122.9vh;
    left: 119.9vh;
    width: 25.4vh;
    height: 13.63vh;
  }

  #playListSongs {
    width: 120vh;

  }

  #btnCheckout {
    position: relative;
    border-radius: 1vh;
    border: 0.1vh solid #c8ab4d;
    color: black;
    background-color: rgba(
    220, 220, 220, 1);
    left: 50vh;
    top: 10vh;
  }

  #orderCell {
    color: white;
  }
}
